// Variables

// colors
$primary-color: #39cdcc;
$secondary-color: #213f7d;
$dt-text-color: #545f7d; // data table 
$sb-text-color: $secondary-color; // sidebar color
$active-color: #39cd62;
$inactive-color: $dt-text-color;
$pending-color: #e9b200;
$black-list-color: #e4033b;
// $dashboard-bg : #E5E5E5


// fonts

// @font-face {
//   font-family: "Light";   /*Can be any text*/
//   src: local("AvenirNextLTPro-Bold"),
//    url("./fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("truetype");
// }
