@use '../index' as *;

#dashboard_header {
  margin: 0 auto;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  font-family: $dashbord_font-family;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  background: white;
  width: 100%;
  .header_wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;

    @media only screen and (min-width: 900px) {
      padding: 0.5rem 2rem;
    }

    .header_logo_Wraper {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      flex-basis: 60%;
    }
    .header_logo {
      height: 20.84px;
      width: 20.63px;
    }

    .header_logo_text {
      height: 30px;
      width: 90.37px;
      display: none;
      @media only screen and (min-width: 900px) {
        display: block;
        width: 115.37px;
      }
    }

    .header_menu_logo {
      border: none;
      background: none;
      @media only screen and (min-width: 900px) {
        display: none;
      }
    }
    .header_menu_logo img {
      height: 17px;
    }

    .search_bar {
      display: none;
      background: #ffffff;
      text-align: left;
      width: 100%;

      @media only screen and (min-width: 900px) {
        display: flex;
      }

      input {
        width: 400px;
        padding: 10px;
        opacity: 1;
        border: 1px solid #21407d70;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        // width: 400px;
      }
      input::placeholder {
        font-family: $dashbord_font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $secondary-color;
        opacity: 0.7;
      }
      button {
        background: $primary-color;
        border: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;
      }
      img {
        padding: 10px;
      }
    }
    .header_utilities {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      @media only screen and (min-width: 900px) {
        gap: 2rem;
      }
      a {
        display: none;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        @media only screen and (min-width: 900px) {
          display: block;
        }
      }
      .notification {
        display: block;
      }
      .user_img_wraper {
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background: none;

        .user_img {
          width: 48px;
          height: auto;
          border-radius: 100%;
        }
        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          border: none;
          background: none;
          display: none;
          @media only screen and (min-width: 900px) {
            display: unset;
          }
        }
      }
    }
  }
}
