@use '../index' as *;

#data-form {
  font-family: $dashbord_font-family;
  width: calc(75%);
  // height: calc(100%);

  box-sizing: border-box;
  //   float: left;
  position: absolute;
  top: 10%;
  padding: 1rem 0.8rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow: auto;
  z-index: 10;

  @media only screen and (min-width: 900px) {
    width: calc(25%);
    // background: #000;
  }

  .data-form_wraper {
   
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-input_wraper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
        }

        input,
        select {
          font-size: 14px;
          line-height: 16px;
          padding: 0.8rem;

          border: 1px solid #21407d2a;
          border-radius: 8px;
        }
        input::placeholder {
          font-size: 14px;
          line-height: 16px;
          opacity: 0.7;
        }
      }

      .data-form_btn {
        display: flex;
        // width: 100%;
        justify-content: space-between;
        button {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            
          // width: 75%;
          color: white;
          padding: 0.8rem 2rem;
          border: 1px solid #39cdcc;
          border-radius: 8px;
          background: $primary-color;
          text-transform: capitalize;
        }

        .reset_btn {
          border: 1px solid #545f7d;
          background: white;
          color: $secondary-color;
        }
      }
    }
  }
  
}

  /* width */
  #data-form::-webkit-scrollbar {
    width: 0px;
  }
  
