@use '../index' as *;

#data_table {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  position: relative;

  font-family: $dashbord_font-family;
  color: $dt-text-color;
  margin-top: 1.8rem;
  padding: 1.5rem;

  
  .table_wraper{
      overflow-x: auto;
 
// width: 100%;
      table {
        width: 1037px;
        border-collapse: collapse;

        @media only screen and (min-width: 900px) {
          width: 100%;
        }
        // padding: 1rem;
        // border-collapse: collapse;
        th {
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          text-align: justify;
          // margin-bottom: 2rem;
    
          font-size: $dt-header-size;
          font-weight: $dt-header-weight;
          line-height: $dt-header-height;
          text-transform: capitalize;
    
          button {
            border: none;
            background: none;
            cursor: pointer;
    
            img {
              vertical-align: sub;
              height: 16px;
              width: 16px;
            }
          }
        }
    
        tr {
            position: relative;
        }
        td {
    
            // position: relative;
          //    margin: 1rem;
          //   @include typography(dt-base-typo);
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-size: $dt-base-size;
          font-weight: $dt-base-weight;
          line-height: $dt-base-height;
          cursor: pointer;
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    
          button {
            color: $dt-text-color;
            border: none;
            background: none;
            cursor: pointer;
          }
        }
        .status_active {
          @include status(active);
        }
    
        .status_inactive {
          @include status(inactive);
        }
    
        .status_pending {
          @include status(pending);
        }
        .status_blacklist {
          @include status(blacklist);
        }
    
        // .option-cell{
        //     position: relative;
        // }
        .option_btn{
    
            img {
                vertical-align: sub;
                height: 16px;
                width: 16px;
              }
        }
    
    
        // hr {
            //     font-size: xx-large;
            // }
        }
  }
    .td_pigment{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        width: 100%;

       .td_pigment_showing{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          @media only screen and (min-width: 900px) {
          //  display: block;
          flex-direction: row;
          gap: 10px;
          }
        }

        .td_pigment_pages{
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 5px;
          width: 100%;
          // text-align: right;

          @media only screen and (min-width: 900px) {
            gap: 10px;
          }
        }
        span {
            // margin: auto 5px;
        }

        select {
            padding: 2px ;
            border: none;
            border-radius: 4px;
            background: rgba(33, 63, 125, 0.1);

            @media only screen and (min-width: 900px) {
              padding: 5px 8px;
            }

        }
        button {
            // padding: 5px;
            border: none;
            border-radius: 4px;
            background: rgba(33, 63, 125, 0.1);
             padding: 5px 8px;

             @media only screen and (min-width: 900px) {
              // padding: 5px 8px;
            }
        }
    }

  //   .table_headers {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;

  //     span {
  //         color: $dt-text-color;
  //         font-size: $dt-header-size;
  //         font-weight: $dt-header-weight;
  //       line-height: $dt-header-height;
  //     //   border: none;

  //     }
  //     button {
  //         border: none;
  //         background: none;
  //     }

  //   }

  //   .table_data_wraper{
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //   }
  //   .table_data{
  //     display: flex;
  //     gap: 6rem;
  //     // justify-content: space-between;


  //   }

  .table_wraper::-webkit-scrollbar {
    width: 0px;
  }
}
