
@use '../index' as *;







@keyframes slideEffect {
     
  0%   {width: 0%;}
  50%  {width: 10%;}
  75%  {width: 20%;}
  100% {width: 30%;}
}

  
  /* Sidebar */
  #sidebar{
    animation-name: slideEffect;
    animation-duration:50ms;
    animation-timing-function: ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 100%;
    margin-top: 4rem;    
    background: #21407d2a;
    overflow: auto;
    display: none;
    
    
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    font-family: $dashbord_font-family;
    .sidebar_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        height: 100%;
        background: rgb(255, 254, 254);
        padding-top:2rem ;
        padding-bottom: 5rem;
        gap: 10px;
    }

    .close-btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:auto 2rem;

      @media only screen and (min-width: 900px) {
        display: none;
      }
      img{
        width: calc(30%);
      }
      
      button{
        border: none;
        background: none;
        font-weight: 800;
        color: $sb-text-color;
        cursor: pointer;
        padding: 0.5rem;
      }
    }

    .sidebar_links_top {
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        color: $sb-text-color;
        font-size: $sb-font-size;
        font-weight: $sb-font-weight;
        line-height: $sb-font-height;
        text-decoration: none;
        text-transform: capitalize;

    }
    .sidebar_category{
        margin: 0.5rem 2rem;
    }
    .sidebar_links, .sidebar_links_active{
        display: flex;
        flex-direction: row;
        margin: auto 2rem;
        align-items: center;
        gap: 15px;
        color: $sb-text-color;
        font-size: $sb-font-size;
        font-weight: $sb-font-weight;
        line-height: $sb-font-height;
        text-decoration: none;
        text-transform: capitalize;

    }

    .sidebar_links_active{
        background: rgba(57, 205, 205, 0.171);
        
        padding: 5px ;
        padding-left: 2rem;
        margin: 0 !important;
        border-left: 3px solid $primary-color;
    }
  }

  

  @media only screen and (min-width: 900px)  {
    #sidebar {
      position: fixed;
      display: block !important;
      right: 80%;
      bottom: 0;
      left: 0;
      top: 0;
      opacity: unset;
      width: 20%;
      overflow: scroll;
      z-index: 1000;
      .sidebar_content {
        width: 100%;
        padding-top: 5rem ;
        padding-bottom: 7rem;
      }
    }
  }





  /* width */
#sidebar::-webkit-scrollbar {
    width: 0px;
  }


 