@use '../index' as *;

#user-info {
  background: #fff;
margin-top: 1.5rem;
background: #FFFFFF;
border: 1px solid rgba(33, 63, 125, 0.06);
box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
box-sizing: border-box;


  .user-info_wraper {
    padding: 2rem 1rem;
    color: $secondary-color;

    h1 {
      font-weight: $ud_info_headers-weight;
      font-size: $ud_info_headers-size;
      line-height: $ud_info_headers-height;
    }
    .user-info_section-wraper, .user-info_section-wraper_g2{
        color: $dt-text-color;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
        column-gap: 2rem;
        row-gap: 1rem;

        h1 {
            font-weight: $ud_info_base-weight;
            font-size: $ud_info_base-size;
            line-height: $ud_info_base-height;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        span {
            font-weight: $ud_info_headers-weight;
            font-size: $ud_info_headers-size;
            line-height: $ud_info_headers-height;
            
            text-transform: capitalize;
        }
    }
    .user-info_section-wraper_g2{
        margin-top: 3rem;
    }
    hr {
       border: 1px solid rgba(33, 63, 125, 0.1);
       margin: 1.5rem 0;
       
    }
  }
}

@media (min-width: 992px) {
  #user-info {

    .user-info_wraper{
        padding: 30px;

        .user-info_section-wraper, .user-info_section-wraper_g2 {
            row-gap: 71px;
            column-gap: 5rem;
        }
        .user-info_section-wraper_g2{
            align-items: stretch;
            margin-top: 5rem;
        }
    }
  }
}
