@use '../index' as *;
// @use '../components/dashboardheader';

@media (min-width: 992px) {
  #dashboard_body {
    width: calc(80%);
    margin-left: 20%;
    //   padding: 1.5rem 3rem;
    padding-top: 1.5rem;
    // padding-left: 3rem;
    /* z-index: 10; */
    /* background-image: url(assets/bg-dark5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
}

#dashboard_body {
  background: #e5e5e53f;
  // width: 100%;
  font-family: $dashbord_font-family;
color: $dt-text-color;
  .dashboard_content {
    padding: 0.5rem 3.5rem;

    h1 {
      font-size: $hero-font-size;
      font-weight: $hero-font-weight;
      line-height: $hero-font-height;
      color: $secondary-color;
    }
    .users_card {
      display: flex;
      flex-direction: row;

      gap: 20px;
      margin-top: 3rem;
      // justify-content: space-between;
    }
    .card_wraper {
      width: 100%;
      padding: 0.9rem 2rem;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      background: white;

      .icon_wraper1,
      .icon_wraper2,
      .icon_wraper3,
      .icon_wraper4 {
        // background: #e018ff28;
        // opacity: 0.1;
        padding: 0.5rem;

        width: 25px;
        height: auto;
        border-radius: 100%;
      }
      .icon_wraper1 {
        background: #e018ff28;
      }
      .icon_wraper2 {
        background: #5618ff28;
      }
      .icon_wraper3 {
        background: #f55f4428;
      }
      .icon_wraper4 {
        background: #ff336628;
      }
      .card_title {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 1rem ;
      }
    }
  }
}

// #dashboard_header {
//     display: flex;

//     .header_logo_wraper {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;

//       .header_logo {
//         height: 20.84px;
//         width: 20.63px;
//       }
//     }
//   }

// #dashboard{
//  font-size: 4rem;
// }
