@use '../index' as *;
// @use '../components/dashboardheader';







@media (min-width: 992px) {
    #dashboard_body {
      width: calc(80%);
      margin-left: 20%;
      /* z-index: 10; */
      /* background-image: url(assets/bg-dark5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: $primary-color;
    }
   
  }

// #dashboard_header {
//     display: flex;
  
//     .header_logo_wraper {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;
  
//       .header_logo {
//         height: 20.84px;
//         width: 20.63px;
//       }
//     }
//   }
  

// #dashboard{
//  font-size: 4rem;
// }
